%h2= t('.title', :project => @current_project)

- if @pending_projects.any?
  .invitations
    = list_pending_invites(@pending_projects)

- if can?(:converse, @current_project) and not @current_project.archived?
  = form_for [@current_project, @new_conversation], :html => { :multipart => true, :class => 'new_conversation new_comment', :'data-remote' => true, :'data-project-id' => @current_project.id } do |form|
    = form.hidden_field :simple
  
    - form.object.comments.build
    = form.fields_for :comments do |fields|
      = render 'comments/fields', :f => fields,
        :placeholder => t('comments.new.project'), :project => @current_project
  
.text_actions
  .el= link_to t('shared.collapsed_mode'), "#", :class => 'collapsed_mode'
  .el{ :style => 'display: none' }= link_to t('shared.expanded_mode'), "#", :class => 'expanded_mode'
.clear

#activities
  = list_threads(@threads)
  = show_more_button

=# javascript_tag autorefresh(@activities, @current_project)
